body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}


/* ---- Section 1 ---- */
.container {
  background: #fff;
  max-width: 1600px;
  margin: 0 auto;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}
.navbar {
  font-family: "Satoshi", sans-serif;
  align-items: center;
  width: 100%;
  display: flex;
  padding: 10px 52px;
  font-weight: 400;
  color: #232323;
}
.logoImg {
  margin: 0;
  height: 44px;
  width: 80px;
}
.logotext {
  margin: auto 0 auto 10px;
  border-left: 2px solid #e8e8e8;
  padding: 10px;
  font-size: 12px;
  align-content: center;
  line-height: 16px;
}
.text {
  color: #0058cc;
  font-weight: 600;
}
.linksheader{
  font-size: 14px;
  font-weight: 200;
  display: flex;
  text-align: center;
  padding-left: 330px; 
}
.links {
  padding: 10px;
}
.links:hover{
  color: #0058cc;
  cursor: pointer;
}

/* ---- Section 2 ---- */
.section {  
  margin: 0;  
  background-image: url(heroimage.jpg);
  width: 100%;
  background-size: cover;
  font-family: "Satoshi", sans-serif;
  font-weight: 200;
}
.section2-text {
  margin: 30px 50px;
  padding-top: 100px;
  text-align: center;
  color: #fff;
  font-size: 50px;
  line-height: 60px;
}
.heading {

}
.subheading {
  color: #ff8e00;
}
.section2-text2 {
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}
.textbox {
  margin: 0px 185px;
  padding: 10px;
  background-color: #fff;
  align-items: center;
  border:2px solid #1265ec;
  border-radius: 16px;
  height: 250px;
  width: 890px;
}
.questions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  
}
.questions div{
  padding: 2px;
  border: 1px solid;
  border-radius: 8px;
}
textarea {
  margin: 10px 10px;
  height: 150px;
  width: 820px;
  border-radius: 20px;
}
.belowtext {
  padding: 10px 0;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0px 200px;
}

/* ---- Section 3 ---- */
.comparison {
  text-align: center;
  background-color: #0e4094;
  color: #fff;
}
.hc {
  margin: 0 0;
  padding-top: 40px;
  
  font-size: 45px;
}
.subjects {
  padding: 0 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}
.sub {
  margin: 20px 0;
  background-color:#09275b ;
  border-radius: 5px;
  padding-top: 6px;
  height: 25px;
  width: 100px;
}
.diffsol {
  margin: 0px 250px;
  display: flex;
}
.diffsol div {
  margin: 20px;
  padding-top: 20px;
  border: 1px solid;
  border-radius: 20px;
  height: 500px;
  width: 350px;
}
.ques {
  font-style: italic;
}

/* ---- Section 4 ---- */
.trynow {
  background-color: rgb(208, 222, 237);
  height: 600px;
  align-content: center;
}
.trynow h1 {
  text-align: center;
}
.videos {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  gap: 20px;
}
.videos div{
  text-align: center;
  padding: 20px ;
  border: 1px solid;
  border-radius: 20px;
  height: 350px;
}
.key{
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  background-color: #0058cc;
  color: #fff;
  height: 30px;
  width: 150px;
  border-radius: 20px;
  margin-left: 550px;
  cursor: pointer;
}

/* ---- Section 5 ---- */
.rating {
  margin: 70px 130px;
  padding: 20px;
  border-radius: 20px;
  height: 160px;
  display: flex;
  background-color:#1b55b5;
  justify-content: center;
  
}
.block {
  line-height: 40px;
  text-align: center;
  margin: 10px 30px;
  padding: 5px 23px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.line{
  width: 0.5px; 
  background-color: #508ae9; 
  height: 100px;
  margin: 30px 20px;
}
.one {
  font-size: 30px;
  font-weight: 600;
}

/* ---- Section 6 ---- */
.gobeyond {
  display: flex;
  background-color: #f0f5fd;
  font-family: "Satoshi", sans-serif;
}
.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 50px;
  margin-right: 150px;
}
.box {
  border-radius: 20px;
  padding: 20px;
  width: 150px;
  height: 150px;
  background-color: #fff;
  font-size: small;
}
.leftside {
  margin-left: 100px;
  padding: 120px;
  align-content: center;
}
.leftsidebutton{
  margin: 30px;
  padding: 10px;
  background-color: #0058cc;
  border-radius: 20px;
  height: 20px;
  width: 132px;
  color: #fff;
  cursor: pointer;
}

/* ---- Section 7 ---- */
.accessanywhere {
  background-color: #f9f9f9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Satoshi", sans-serif;
}
.maintext {
  font-size: 41px;
  line-height: 60px;
  color: #2f2f2f;
}
.download {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: left;
}
.accessleft {
  padding-top: 30px;
  padding-left: 110px;
}
.accesstext {
  padding-top: 10px;
  color: #6a6a6a;
  font-size: 20px;
  font-weight: 500;
}
.accessright {

  height: 240px;
  width: 420px;
  padding: 100px;
}
.download img{
  padding-top: 50px;
  border-radius: 5px;
  height: 55px;
  width: 205px;
}

/* ---- Section 8 ---- */
.news {
  padding: 50px;
}
.news h1{
  text-align: center;
}
.newsimgholder {
  padding: 20px;
  display: flex;
}
.newsimg {
  height: 100px;
  width: 180px;
}

/* ---- Section 9 ---- */
.studentsonfilocontainer {
  background-color: #f0f5fd;
  margin: 0 auto;
  padding: 40px 140px;
  font-family: "Satoshi", sans-serif;
}
.studentsonfilohead {
  margin: 50px auto;
}
.studentsonfilohead h1 {
  padding: 20px;
}

.studentsonfilo {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sides {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  gap: 20px;
}

.layout {
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  padding: 0 16px;
}
.layoutquestion {
  display: flex;
  justify-content: space-between;
  font-size: small;
  align-content: center;
  height: 30px;
}
.layoutpara {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.note {
  display: flex;
  font-size: 10px;
  color: grey;
}

.solution {
  font-size: small;
  color: #0058cc;
  margin: 10px 0;
  padding: 8px 10px;
  border: 1px solid #0058cc;
  border-radius: 20px;
  width: 85px;
  height: 14px;
  text-align: center;
  justify-content: center;
  font-size: 12px;
}

.viewmore {
  margin-left: 150px;
  padding-top: 8px;
  text-align: center;
  background-color: #0058cc;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  color: #fff;
  cursor: pointer;
}

/* ---- Section 10 ---- */
.chromeextension {
  padding: 100px 80px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-family: "Open Sans", sans-serif;
}
.chromeheading {
  padding: 10px;
  font-size: 28px;
  font-weight: 550;
  font-style: bold;
}
.chrometext {
  padding: 10px;
  font-size: 15px;
  color: grey;
}
.chromeimg {
  border: 1px solid;
  border-radius: 20px;
  padding: 20px;
  height: 200px;
  width: 200px;
}
.chromebutton {
  margin-top: 20px;
  margin-left: 10px;
  padding: 8px;
  text-align: center;
  background-color: #0058cc;
  border-radius: 20px;
  height: 25px;
  width: 170px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

/* ---- Section 11 ---- */
.faqs {
  padding: 20px;
  margin: 60px;
  border: 1px solid;
  border-color: #cbcbcb;
  border-radius: 20px;
}
.faqs hr{
  border: 1px solid #cbcbcb;
  
}
.faqquestions {
  padding: 20px 0;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 9fr 1fr;
}
.faqquestions:hover{
  background-color: #f9f9f9;
  cursor: pointer;
}
.faqquestions div {
  text-align: left;
}
.faqquestionsbutton {
  width: 30px;
  border-radius: 10px;
}

/* ---- Section 12 ---- */
footer {
  background-color: #0e4094;
  color: #fff;
  margin: 0;
  padding: 20px;
  font-size: 12px;
}
.footer1{
  padding-top: 10px;
  padding-bottom: 20px;
}
.cols {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 70px;
  gap: 40px;
}
.item {
  width: 100%;
  padding: 5px;
}
.item:hover{
  text-decoration: underline;
}
.fa {
  padding: 2px;
  font-size: 3px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
.footerlogo {
  display: flex;
}


