@import url("https://api.fontshare.com/v2/css?f[]=satoshi@100,200,300,400,500,600,700&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  font-family: "Satoshi", sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}
::-webkit-scrollbar {
  display: none;
}



/* ---- Section 1 ---- */
.container {
  background: #fff;
  margin: 0 auto;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}
.navbar {
  font-family: "Satoshi", sans-serif;
  align-items: center;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 2px 60px;
  font-weight: 400;
  color: #232323;
  box-shadow: -8px 6px 18px 0 hsla(0, 0%, 40%, .09);
}
.logoImg {
  margin: 0;
  height: 67px;
  width: 85px;
}
.logotext {
  margin: auto 0 auto 10px;
  border-left: 2px solid #e8e8e8;
  padding: 0 12px;
  font-size: 14px;
  display: inline-block;
  align-content: center;
  line-height: 20px;
}
.text {
  color: #0058cc;
  font-weight: 600;
}
.linksheader{
  font-size: 16px;
  font-weight: 400;
  display: flex;
  text-align: center;
  gap: 5px;
  padding-left: 228px; 
}
.links {
  padding: 8px;
  display: flex;
  gap: 3px;
  align-items: center;
}
.links:hover{
  color: #0058cc;
  cursor: pointer;
}

.dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown:hover{
  overflow-x: auto;
}
.dropdown-arrow{
  height: 16px;
  width: 16px;
}
.dropdown-holder{
  overflow: hidden;
}
.dropdown-link-holder{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* ---- Section 2 ---- */
.section {  
  margin-top: 75px;  
  background-image: url(heroimage.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  font-family: "Satoshi", sans-serif;
  font-weight: 200;
}
.section2-text {
  margin: 30px 50px;
  padding-top: 70px;
  text-align: center;
  color: #fff;
  font-size: 55px;
  line-height: 70px;
}

.subheading {
  color: #ff8e00;
}
.section2-text2 {
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}
.textbox {
  margin: 0px 185px;
  padding: 10px;
  background-color: #fff;
  align-items: center;
  border:2px solid #1265ec;
  border-radius: 16px;
  height: 260px;
  width: 890px;
}
.questions-container{
  overflow: hidden;
}
.questions {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  gap: 10px;
  z-index: 1;
}
.eachquestion{
  flex: 0 0 auto;
  padding: 5px 10px;
  color: #232323;
  border: 1px solid rgba(18, 101, 236, .2);
  border-radius: 10px;
}
.eachquestion:hover{
  cursor: pointer;
  border: 1px solid #1265ec;
}
.textarea {
  margin: 10px 10px;
  height: 150px;
  width: 820px;
  border-radius: 20px;
  color: grey;
  font-size: 25px;
  font-weight: 500;
  border: none;
}
.belowtext {
  padding: 10px 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 0px 185px;
}
.belowtext-bottom{
  display: flex;
  padding: 5px;
  gap: 10px;
  align-content: center;
}
.belowtext-bottom img{
  padding: 2px;
}

.bottomarea {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px;
}
.getsol {
  align-content: center;
  text-align: center;
  color: #fff;
  background-color: #0058cc;
  border-radius: 20px;
  padding: 5px 10px;
  height: 25px;
  width: 120px;
  font-size: 14px;
  font-weight: 500;
}
.addimg {
  display: flex;
  gap: 10px;
  padding: 10px;
  height: 40px;
  width: 300px;
}
.addimg div{
  border: 1px dotted #2f2f2f;
  border-radius: 8px;
  font-size: 14px;
  align-content: center;
  text-align: center;
  padding: 5px 10px;

}

/* ---- Section 3 ---- */
.comparison {
  text-align: center;
  background-color: #0e4094;
  color: #fff;
  padding: 50px;
}
.hc {
  margin: 0 0;
  padding-top: 40px;
  font-weight: 600;
  font-size: 48px;
}
.subjects {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.sub {
  display: flex;
  gap: 5px;
  margin: 20px 0;
  text-align: center;
  justify-content: center;
  align-content: center;
  background-color:#09275b ;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 500;
  height: 20px;
}
#subactive {
  background-color: #1265ec;
  border-color: #1265ec;
}
.sub:hover{
  cursor: pointer;
}
.sub img{
  padding: 3px;
  height: 15px;
  width: 15px;
}
.diffsol {
  margin: 0px 170px;
  display: flex;
  gap: 50px;
}
.scrollimg{
  height: 500px;
  width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;

}
.diffsol img {
  display: block;
  border: 1px solid;
  width: 100%;
}
.ques {
  margin-top: 1px;
  display: flex;
  gap: 10px;
  font-style: italic;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 20px 10px;
  font-weight: 600;
}
.ques div{
  padding: 8px;
}

/* ---- Section 4 ---- */
.trynow {
  background-color: #f0f5fd;
  align-content: center;
  padding: 20px;
}
.trynow h1 {
  font-size: 48px;
  text-align: center;
}
.videos {
  display: flex;
  gap: 60px;
  justify-content: center;
  padding: 10px 70px;
}
.videos div{
  text-align: center;
  justify-content: center;
  align-content: center;
}
.videoseach {
  width: 325px;
  border-radius: 20px;
}
.videoseach:hover {
  cursor: pointer;
}
.key{
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  background-color: #0058cc;
  color: #fff;
  height: 30px;
  width: 150px;
  border-radius: 20px;
  margin-left: 550px;
  cursor: pointer;
}

/* ---- Section 5 ---- */
.rating {
  margin: 70px 140px;
  padding: 20px;
  border-radius: 20px;
  height: 185px;
  display: flex;
  background-color:#1b55b5;
  justify-content: center;
  
}
.block {
  line-height: 40px;
  text-align: center;
  margin: 10px 30px;
  padding: 5px 10px;
  color: #fff;
  font-family: "Satoshi", sans-serif;
}
.line{
  width: 1.5px; 
  background-color: #508ae9; 
  height: 100px;
  margin: 40px 20px;
}
.one {
  font-size: 35px;
  font-weight: 600;
}

/* ---- Section 6 ---- */
.gobeyond {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f5fd;
  font-family: "Satoshi", sans-serif;
  padding: 80px 192px;
}
.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.box {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 20px;
  width: 200px;
  height: fit-content;
  background-color: #fff;
  gap: 8px;
}
.box svg{
  padding: 0;
  height: 30px;
  width: 30px;
}
.box h2 {
  margin: 0;
  font-size: 22px;
}
.boxtext{
  color: grey;
  font-size: 12px;
  font-weight: 500;
}
.leftside {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.leftside h2{
  margin: 0;
  font-size: 48px;
  color: #232323;
}
.leftsidetext {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  color: #6a6a6a;
  line-height: 28px;
}
.leftsidebutton {
  margin-top: 20px;
  display: block;
  font-weight: 500;
}
.leftsidebutton button{
  display: flex;
  gap: 5px;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: #1356c5;
  border-radius: 40px;
  height: 48px;
  width: 232px;
  color: #fff;
  cursor: pointer;
}
.leftsidebuttonimg {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

/* ---- Section 7 ---- */
.accessanywhere {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Satoshi", sans-serif;
  padding: 20px 100px;
}
.maintext {
  font-size: 44px;
  line-height: 62px;
  color: #2f2f2f;
}
.download {
  display: flex;
  margin: 0;
  padding: 0px;
  text-align: left;
}
.accessleft {
  padding: 0px;
}
.accesstext {
  padding-top: 10px;
  color: #6a6a6a;
  font-size: 24px;
  font-weight: 500;
}
.accessright {
  height: 240px;
  width: 420px;
  padding: 50px;
}
.download img{
  padding: 50px 0px;
  border-radius: 5px;
  height: 60px;
  width: 210px;
}

/* ---- Section 8 ---- */
.news {
  padding: 40px 50px;
}
.news h1{
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.newsimgholder {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.newsimg {
  height: 90px;
  width: 180px;
}

/* ---- Section 9 ---- */
.studentsonfilocontainer {
  background-color: #f0f5fd;
  margin: 0 auto;
  padding: 40px 140px;
  font-family: "Satoshi", sans-serif;
}
.studentsonfilohead h1 {
  font-size: 42px;
  margin: 36px 0px;
  padding: 0 20px;
}

.studentsonfilo {
  display: flex;
  flex-direction: row;
  font-size: 17px;
}

.sides {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  gap: 20px;
}

.layout {
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  padding: 0 16px;
}
.layoutquestion {
  display: flex;
  justify-content: space-between;
  font-size: small;
  align-content: center;
  height: 30px;
}
.layoutpara {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.note {
  display: flex;
  font-size: 10px;
  color: grey;
}

.solution {
  font-size: small;
  color: #0058cc;
  margin: 10px 0;
  padding: 8px 10px;
  border: 1px solid #0058cc;
  border-radius: 20px;
  width: 85px;
  height: 14px;
  text-align: center;
  justify-content: center;
  font-size: 12px;
}
.solution:hover{
  color: #fff;
  background-color: #0058cc;
  cursor: pointer;
}

.viewmore {
  margin-left: 150px;
  padding-top: 8px;
  text-align: center;
  background-color: #0058cc;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  color: #fff;
  cursor: pointer;
}

/* ---- Section 10 ---- */
.chromeextension {
  padding: 80px 120px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-family: "Satoshi", sans-serif;
}
.ext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.chromeheading {
  font-size: 32px;
  font-weight: 600;
}
.chrometext {
  font-size: 20px;
  font-weight: 500;
  color: #6a6a6a;
}
.chromeimg {
  border: 1px solid;
  border-radius: 20px;
  padding: 20px;
  height: 200px;
  width: 200px;
}
.chromebutton {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  text-align: center;
  background-color: #0058cc;
  border-radius: 40px;
  height: 32px;
  width: 200px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

/* ---- Section 11 ---- */
.faqs {
  margin: 80px;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  font-family: "Satoshi", sans-serif;
  color: #232323;
  display: flex;
  flex-direction: column;
}
.faqs h2{
  margin: 0;
  padding: 20px;
  font-size: 28px;
  font-weight: 700;
}
.faqs hr{
  border: 1px solid #f0f0f0;
  margin: 0 20px;
}
.faqquestions{
  margin: 0;
  font-family: "Satoshi", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  font-size: 16px;
  font-weight: 700;
}
.faqquestions:hover{
  background-color: rgba(66, 133, 244, .039);
  cursor: pointer;
}
.faq-section-dropdown{
  height: 24px;
  width: 24px;
}


/* ---- Section 12 ---- */
footer {
  background: linear-gradient(91.12deg, #0e4094 2.41%, #1356c5 110.59%);
  color: #fff;
  margin: 0;
  padding: 20px;
  font-family: "Satoshi", sans-serif;
}
.footer-section {
  border-bottom: 1px solid hsla(0, 0%, 100%, .1);
}
.footer-section-heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  margin: 36px;
  text-align: center;
}
.footerlinks {
  padding: 0px 40px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto 60px;
  font-size: 16px;
  font-weight: 400;
}
.item {
  width: 23%;
  padding: 5px;
}
.item a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.cols {
  display: flex;
  padding: 40px 60px;
  gap: 50px;
}
.footerleft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  gap: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 50%;
}
.footerleft p{
  font-size: 14px;
  font-weight: 200;
  margin: 0 10;
}
.footerlogo {
  display: flex;
  align-items: center;
  margin: 0;
}
.footerlogotext{
  margin: auto 0 auto 10px;
  border-left: 1px solid #e8e8e8;
  padding: 0 12px;
  font-size: 14px;
  display: inline-block;
  align-content: center;
  line-height: 20px;
  font-weight: 400;
}
.belowlogo{
  border-top: 1px solid rgb(130, 136, 154);
  display: flex;
  padding: 10px 0 0 0;
  width: 80%;
  align-items: center;
  gap:5px;
}
.belowlogonumber{
  font-size: 16px;
  font-weight: 600;
}
.belowlogotext{
  margin: 5px 15px;
  padding: 0 0 0 10px;
  border-left: 1px solid rgb(130, 136, 154);
  font-size: 11px;
  line-height: 1.5;
}
.footer-right {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
}
.footereachcol {
  width: 100%;
}
.footerlast {
  padding: 5px 0;
  font-size: 14px;
}
.footerlast a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.fa {
  padding: 2px;
  font-size: 3px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
.footer-recaptcha-text{
  margin-left: 20px;
  padding-left: 40px;
  color: #fff;
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
}
.footer-recaptcha-text a {
  color: #fff;
  text-decoration: none;
}



